
@{
    ViewData["Title"] = "Edit";
}

@model Todo

<h1>Editando Tarefa</h1>

<form method="post" asp-action="SaveEdit" asp-controller="Todo" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="txtNome">Nome da Tarefa?</label>
        <input type="text" asp-for="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label" for="Concluido">Tarefa está concluída?</label>
        <input type="checkbox" asp-for="Concluido" id="Concluido" />
    </div>
    <a href="/todo" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-primary">Editar tarefa</button>
</form>

