
@{
    ViewData["Title"] = "Index";
}

@model List<Todo>

<h1>Minhas Tarefas</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<table width="100%" border="1">
    <thead>
        <tr>
            <th>Nome da Tarefa</th>
            <th>Concluída?</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Nome</td>
                <td>@(todo.Concluido ? "Sim" : "Não")</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Todo/Edit?id=@todo.Id">Editar Tarefa</a>
                    <a class="btn btn-danger btn-sm" href="/Todo/Delete?id=@todo.Id">Excluir Tarefa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<div>
    <a class="btn btn-primary" asp-controller="Todo" asp-action="New">Cadastrar Nova Tarefa</a>
</div>