
@{
    ViewData["Title"] = "New";
}

@model Todo

<h1>Criar Nova Tarefa</h1>

@using (Html.BeginForm(actionName: "Save", controllerName: "Todo", FormMethod.Post))
{
    <div class="form-group">
        <label for="txtNome">Nome da Tarefa?</label>
        @Html.TextBoxFor(x => x.Nome)
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group form-check">
        <label class="form-check-label" for="Concluido">Tarefa está concluída?</label>
        @Html.CheckBoxFor(x => x.Concluido)
    </div>
    <button type="submit" class="btn btn-primary">Criar nova tarefa</button>
}