
@{
    ViewData["Title"] = "Students";
}

@model IList<Student>
<h1></h1>
<h4>Turma do Professor</h4>
<table width="100%" border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Materia</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Nome</td>
                <td>@student.Email</td>
                <td>@student.CodigoTurma</td>
                <td>@student.LoginProfessor</td>
            </tr>
        }
    </tbody>
</table>



